.polls-grid-container {
    display: block;
    margin-top: .5rem;
}
.polls-grid {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 756px) {
    .polls-grid {
        flex-direction: row;
        justify-content: flex-start;
    }
}
