.table-views_stats {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-bottom: 2px dashed #34607e;
    padding-bottom: 1em;
}

@media (min-width: 380px) {
    .table-views_stats {
        flex-direction: row;
        padding-bottom: 0;
    }
}
