.stats-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    place-items: center;
    width: 100%;
}

.stats-container p {
    width: 30%;
    margin-top: 10px;
}

.stats-container p strong {
    margin-top: 10px;
    font-size: .8rem;
}

@media(min-width: 650px) {
    .stats-container {
        width: 50%;
        justify-content: flex-end;
    }
}
